/* classes that are used in ChatElement component for Chat page */

.chatElement {
  position: relative;
  width: 100%;
  padding: 10px 0px;
  color: var(--text);
  /* border-radius: 10px; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  word-wrap: break-word;
}
.chatElement:hover {
  /* background-color: var(--hover-dark); */
  filter: brightness(1.2);
}

.thisUser {
  background-color: var(--background);
}

.otherUser {
  background-color: var(--background);
}

.photoText {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /* background: linear-gradient(to right bottom, var(--light), #e4dfff); */
  /* font-size: 22px; */

  /* font-weight: 600; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* color: var(--first-dark); */
}
.profilePicture {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.content {
  position: relative;
  width: calc(95% - 50px);
  word-wrap: break-word;
}

.userInfo {
  position: relative;
  width: 100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
}

.username {
  font-size: 22px;
  font-weight: 400;
  word-wrap: break-word;
}

.date {
  font-size: 12px;
  font-weight: 300;
  word-wrap: break-word;
  color: var(--grey);
}

.message {
  font-size: 16px;
  font-weight: 300;
  word-wrap: break-word;
}

.photoImg {
  position: relative;
  width: 50px;
  height: 50px;
}
