.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  font: bold;
  color: white;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  top: 0;
  height: 100vh;
  width: 100vw;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4%;
  width: 60%;
}

.items {
  position: relative;
  margin: 1%;
  height: 100%;
}
.button {
  position: relative;
  box-sizing: content-box;
  padding: 0% 3%;
  height: 4%;
  margin-left: 2%;
  background-color: var(--second-dark);
  border: none;
  border-radius: 5px;
  height: 100%;
  color: white;
}
