.container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--background-shade);
  padding: 0px 0px 0px 5px;
  border-radius: 5px;
  overflow: hidden;
  transition: all 200ms ease-in-out;
}
.container:focus-within {
  border: 1px solid var(--primary);
}

.input {
  padding: 10px;
  position: relative;
  width: 100%;
  border: none 0px #000;
  outline: none;
  border-radius: 5px;
  font-size: 16px;
  color: var(--light);
  background-color: transparent;
  text-overflow: ellipsis;
}

.btn {
  width: 40px;
  height: 40px;
  font-size: 18px;
  box-shadow: 0px 5px 10px #00000000;
  background-color: var(--background-shade);
  color: var(--light);
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 200ms ease-in-out;
}

.btn:hover {
  cursor: pointer;
}
