.home {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background);
  /* filter: brightness(1.5); */
}

.container {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 5% 5%;
  height: 30%;
  border-radius: 10px;
  box-shadow: 0px 0px 3px 0px black;
  background-color: var(--background);
}

.homePageTextContainer {
  position: absolute;
  display: flex;
  flex-direction: row;
  text-align: center;
  color: white;
  margin: 0;
  font-size: 7rem;
  height: 80%;
  width: 100%;
  font-weight: bolder;
  background-image: var(--primary-gradient);
  flex: 1 8 auto;
}

.chatWithContainer {
  position: relative;
  perspective: 200000px;
  transform-style: preserve-3d;
  animation: rotate 4s ease-in-out;

  width: 40rem;
  height: 10rem;
  /* padding-bottom: 2rem; */
}
.chatWithContainer div {
  position: absolute;
  color: white;
  width: 40rem;
  height: 10rem;
  color: var(--text);
  padding-left: 1rem;
  text-align: left;
  /* padding: 10%; */
  background-color: var(--primary-gradient);
  text-transform: uppercase;
}
.homePageText {
  height: 5rem;
  padding: 0%;
}

@media (max-width: 1000px) {
  .homePageTextContainer {
    font-size: 7rem;
    flex-direction: column;
    padding: 4rem;
    width: fit-content;
    text-align: center;
  }

  .container {
    width: 70%;
  }

  .home {
    flex-direction: column;
  }
}

@media (max-width: 1000px) {
  .homePageTextContainer {
    font-size: 7rem;
    flex-direction: column;
    padding: 4rem;
    width: fit-content;
    text-align: center;
  }

  .container {
    width: 70%;
  }

  .home {
    flex-direction: column;
  }
}
