.main {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--background-shade);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.profile {
  position: relative;
  width: 95%;
  padding: 10%;
  height: 5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  align-items: center;
  background-color: var(--primary);
  box-shadow: 0px 0px 3px 0px var(--background);
  color: var(--text);
  /* background-color: yellow; */
}

.closeBtn {
  width: 0px;
  height: 0px;
  display: none;
  outline: none;
  border: none;
  background-color: transparent;
}

.photo {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.photoClose {
  width: 0px;
  height: 0px;
}

.username {
  word-wrap: break-word;
  color: var(--text);
}

.separator {
  width: 90%;
  height: 1rem;
  /* border-top: 1px var(--background) solid; */
  text-transform: uppercase;
  color: var(--text);
  display: flex;
  align-items: center;
  /* background-color: var(--background); */
}
.separator::after {
  content: "";
  flex: 1;
  display: inline-block;
  height: 1px;
  margin-left: 0.5rem;
  background-color: #000000;
}

.list {
  position: relative;
  width: 95%;
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: green; */
}

.memberContainer {
  position: relative;
  width: 98%;
  height: 50px;
}

.member {
  position: relative;
  width: 100%;
  height: 45px;
  border-radius: 5px;
  background-color: var(--background-shade);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text);
  transition: all 300ms ease-in-out;
}

.member:hover {
  cursor: pointer;
  background-color: var(--primary-shade);
}

@media (max-width: 750px) {
}
