.roomList {
  position: relative;
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  /* padding-top: 10px; */
  /* padding-bottom: 10px; */
  background-color: var(--primary);
  /* border-right: 2px solid var(--primary-shade); */
  /* box-shadow: 0px 0px 3px 0px var(--first-dark); */
  transition: all 300ms ease-in-out;
  z-index: 2;
}

.room {
  width: 100%;
  height: 50%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  transition: all ease-out 200ms;
  background-color: var(--primary);
  color: var(--text);
  /* margin: 0px 10px; */
  /* margin-bottom: -1px; */
  /* border-bottom: 1px solid var(--second-dark); */
}

.room:hover {
  filter: brightness(1.2);
  cursor: pointer;
}

.selected {
  /* filter: brightness(0.9); */
  background-color: var(--primary-shade);
  /* color: var(--light); */
}

.onIconHover {
  position: absolute;
  width: 0px;
  height: 0px;
  opacity: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  font-size: 0px;
  transition: all ease-out 200ms;
}

.room:hover .onIconHover {
  width: fit-content;
  height: fit-content;
  padding: 10px 20px;
  opacity: 1;
  z-index: 300;
  background-color: var(--background);
  font-size: 14px;
  transform: translateX(130%);
}

/* media queries for this module starts here */

/* @media (max-width: 1200px) {
  .room {
    width: 50px;
    border-radius: 13px;
    font-size: 30px;
  }
} */
/* 
@media (max-width: 1000px) {
  .room {
    width: 45px;
    border-radius: 11px;
    font-size: 27px;
  }
}

@media (max-width: 800px) {
  .room {
    width: 40px;
    border-radius: 8px;
    font-size: 25px;
  }
}

@media (max-width: 750px) {
  .room {
    width: 35px;
    border-radius: 7px;
    font-size: 23px;
  }
} */
