.home {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* first part of the login screen */

.information {
  position: relative;
  width: 55%;
  height: 80%;
  padding: 0% 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  position: relative;
  height: min-content;
  width: min-content;
  display: flex;
  margin-bottom: 1rem;
  justify-content: space-around;
  align-items: center;
}

.logoIcon {
  transform: rotate(-20deg);
  color: var(--main);
  height: 80px;
  width: 80px;
  margin-right: 1rem;
}

.logoText {
  font-weight: 700;
  color: var(--text);
  font-size: var(--text-size-2xl);
}

.statement {
  font-size: var(--text-size-lg);
  margin-bottom: 5rem;
}

.statementColored {
  color: var(--main);
  font-weight: 500;
}

.statementText {
  color: var(--text);
  font-weight: 500;
}

.inputContainer {
  width: 50%;
}

/* second part of the login screen */

.slideshow {
  position: relative;
  width: 45%;
  height: 100%;
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.list {
  position: relative;
  width: 95%;
  height: 90%;
  /* background-color: yellow; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.element {
  /* position: relative; */
  width: 100%;
  height: 100%;
  transition: all 300ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text);
}

.navigator {
  position: relative;
  width: 30%;
  height: 5%;
  /* background-color: green; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.circle {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--accent);
  transition: all 300ms ease-in-out;
}

.currCircle {
  position: relative;
  width: 50px;
  height: 10px;
  border-radius: 10px;
  background-color: var(--main);
  transition: all 300ms ease-in-out;
}

.circle:hover {
  cursor: pointer;
  transform: scale(110%);
}

.currCircle:hover {
  cursor: pointer;
  transform: scale(110%);
}

@media (max-width: 450px) {
  .home {
    flex-direction: column;
    background-color: var(--user-card);
  }

  .logoText {
    font-size: var(--text-size-xl);
  }

  .statement {
    font-size: var(--text-size-md);
  }

  .information {
    width: 100%;
    height: 60vh;
  }
  .inputContainer {
    width: 100%;
  }

  .slideshow {
    width: 100%;
    height: 40vh;
  }
}
