.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--textbox);
  padding: 0px 0px 0px 5px;
  border-radius: 5px;
  overflow: hidden;
  transition: all 200ms ease-in-out;
}
/* .container:focus-within {
  border: 1px solid var(--primary);
} */

.input {
  position: relative;
  width: 100%;
  padding: 10px;
  border: none 0px #000;
  outline: none;
  border-radius: 5px;
  color: var(--text);
  background-color: transparent;
  text-overflow: ellipsis;
}

.btn {
  width: 40px;
  height: 40px;
  box-shadow: 0px 5px 10px #00000000;
  color: var(--main);
  background-color: transparent;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 200ms ease-in-out;
}

.btn:hover {
  cursor: pointer;
}
