.container {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 0.6rem;
  padding: 0.5rem 0.8rem;
  background-color: var(--user-card);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: all 300ms ease-in-out;
}

.selected {
  background-color: var(--main);
  transition: all 300ms ease-in-out;
}

.container:hover {
  cursor: pointer;
  background-color: var(--textbox);
  outline: 2px solid var(--main);
}

.selected:hover {
  cursor: pointer;
  background-color: var(--main);
}
.image {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--search-textbox);
  background-size: cover;
  transition: all 300ms ease-in-out;
}

.name {
  padding: 0.5rem 0.8rem;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  transition: all 300ms ease-in-out;
}

.title {
  color: var(--text);
  font-weight: 600;
  transition: all 300ms ease-in-out;
  font-size: var(--text-size-lg);
}

.subtitle {
  color: var(--text);
  transition: all 300ms ease-in-out;
}

@media (max-width: 1050px) {
  .image {
    width: 45px;
    height: 45px;
  }
}

@media (max-width: 800px) {
  .image {
    width: 38px;
    height: 38px;
  }
}
