@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
:root {
  --text-size-xs: 0.56rem;
  --text-size-sm: 0.75rem;
  --text-size-md: 1rem;
  --text-size-lg: 1.33rem;
  --text-size-xl: 1.78rem;
  --text-size-2xl: 2.37rem;
  --text-size-3xl: 3.16rem;
  --text-size-4xl: 4.21rem;
  --text-size-5xl: 5.61rem;
  font-size: 18px;
  --error: hsl(4, 100%, 45%);
  --success: hsl(120, 100%, 45%);
  --warning: hsl(48, 100%, 67%);

  --primary-gradient: linear-gradient(
    180deg,
    var(--primary),
    var(--background)
  );
}
body {
  background-color: var(--background);
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  color: var(--text);
}
.app {
  width: 100%;
  height: 100vh;
  background-color: var(--user-card);
}

@media (prefers-color-scheme: light) {
  :root {
    --text: #151004;
    --background: #ecebe9;
    --primary: #ff8424;
    --secondary: #dbd9d6;
    --accent: #17baad;
    --error: #a30000;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text: #fbf6ea;
    --background: #161513;
    --primary: #ff872c;
    --secondary: #292724;
    --accent: #45e8da;
    --error: #8f0000;
  }
}
button {
  border-radius: 0.25rem;
  padding: 0.5rem 0.75rem;
  outline: 0;
  border: 0;
  height: 2.2rem;
  width: fit-content;
  font-weight: bold;
  vertical-align: center;
  text-align: center;
  font-size: var(--text-size-md);
  color: var(--text);
}
