@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --main: #e27612;
  --main-shade: hsl(24, 97%, 39%);
  /* --background-shade: #3f3d3d; */

  --user-profile: #1e1e1e;
  --sidebar-bg: #313131;
  --user-card: var(--sidebar-bg);
  --accent: white;
  --text: white;
  --sub-text: #c4c4c4;
  --search-text: #d9d9d9;
  --search-textbox: #525252;
  --textbox: #1b1b1b;
  --msg-hint: #525252;

  --text-size-xs: 0.56rem;
  --text-size-sm: 0.75rem;
  --text-size-md: 1rem;
  --text-size-lg: 1.33rem;
  --text-size-xl: 1.78rem;
  --text-size-2xl: 2.37rem;
  --text-size-3xl: 3.16rem;
  --text-size-4xl: 4.21rem;
  --text-size-5xl: 5.61rem;
  font-size: 18px;
  --error: hsl(4, 100%, 45%);
  --success: hsl(120, 100%, 45%);
  --warning: hsl(48, 100%, 67%);

  --primary-gradient: linear-gradient(
    180deg,
    var(--primary),
    var(--background)
  );
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Exo 2", sans-serif;
}
.app {
  width: 100%;
  height: 100vh;
  background-color: var(--user-card);
}
